@media only screen and (max-width: 992px) {

    .aboutText{
        text-align: center;
    }

    .aboutBanner .panel .img-wrap{
        margin: 20px auto; 
    }

    .aboutBanner .mainAboutimg.img-wrap{
        margin:  0 0 20px;
    }

    .aboutBanner h1{
        font-size: 50px;
    }

    .historyText{
        font-size: 16px;
        line-height: 22px;
    }

    section>h4 {
        font-size: 64px;
        position: relative;
        line-height: 100%;
        z-index: 2;
    }

    .heading-white::before {
        left: -23%;
    }

    .heading-white {
        z-index: -2;
        padding: 0 19px;

    }
    
    .category .slick-slide.slick-center img.main {
        transform: scale(1.4);
    }

    .category .slick-slide.slick-center img.catItemBg {
        animation: fadeInlaptops 2s;
        scale: 1.5;
    }

    .toppingsMain {
        text-align: center;
        padding: 33px 0;
    }

    .toppingSlider .slick-dots {
        text-align: center;
        padding: 0;
    }

    .cravingsMain .panel {
        flex-direction: row;
    }

    .cravingsText h5 {
        font-size: 25px;
        line-height: 25px;
    }

    .cravingsText p {
        font-size: 19px;
        line-height: 112%;
    }

    .cravingsImg {
        max-width: 100%;
    }

    .toppingsText h5 {
        font-size: 40px;
        line-height: 40px;
    }

    .toppingsText p {
        font-size: 18px;
        line-height: 20px
    }

    .panel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .category .slick-next {
        right: 10%;
    }

    .category .slick-prev {
        left: 6%;
    }

   

    .galleryGrid {
        grid-template-columns: 295px 248px 248px;
        /* grid-template-rows: 298px 298px 220px  325px; */
        grid-template-rows: auto auto auto auto;
        grid-auto-flow: dense;
        gap: 5px;
        padding: 0 5px;
    }

    footer {
        text-align: center;
    }

    .ftTimings .follow {
        justify-content: center;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 767px) {

    section {
        padding: 50px 0 !important;
    }

    section.noPadding {
        padding: 0 !important;
    }

    .real {
        padding: 30px 0 !important;
    }

    .heading-white {
        padding: 0;
    }

    section>h4 {
        margin-bottom: 40px;
        font-size: 40px;
    }

    .real-overlay {
        top: -4px;
    }

    .category .categoryItem {
        height: 100%;
        min-height: 414px;
    }

    .category .slick-slide.slick-center img.main {
        transform: scale(1.2);
    }
    
    .category .slick-slide.slick-center img.catItemBg {
        animation: fadeIntab 2s;
        scale: 0.6;
    }
/* 
    .category .slick-slide.slick-center .categoryItem img.catItemBg {
        scale: 1.4;
    } */

    .categoryBadge {
        top: 28%;
        left: 24%;
        padding: 10px 20px 11px 20px;
    }

    .categoryBadge a {
        font-size: 20px;
        line-height: 100%;
    }

    .galleryGrid {
        grid-template-columns: auto auto auto;
    }

    .mobile-nav {
        width: 80%;
        z-index: 1000;
    }

    .banner .container img {
        height: 70vh;
    }

    .realCard h5 {
        font-size: 16px;
        line-height: 100%;
    }

    .realCard h6 {

        line-height: 100%;
        font-size: 16px;
    }

    .realCard {
        align-items: center;
    }


    .cravingsMain .panel {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .cravingsImg {
        max-width: 50%;
        height: auto;
    }

    footer{
        padding: 50px 0;
    }

}

@media only screen and (max-width: 480px) {

    
.low-opacity::before,
.low-opacity::after{
    display: none;
}
    .newsInput input {
        padding: 22px 0 21px 20px;
        font-size: 14px;
    }

    .category .slick-slide.slick-center img.main {
        transform: scale(1.06);
    }

    .category .slick-slide.slick-center img.catItemBg {
        animation: fadeInPhone 2s;
        scale: 1;
    }

    .real {
        padding: 20px 0;
    }


    section>h4 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    section.history > h4{
        margin-bottom: 40px;
    }

    .category .slider {
        margin-bottom: 0;
    }

    .shopCards {
        padding: 25px 25px 28px;
    }

    .shopCards h5 {
        font-size: 16px;
    }

    .shopCards .img-wrap {
        scale: 0.8;
    }

    .shopNowButton {
        scale: 0.8;
        left: -8%;
    }

    .addButton {
        scale: 0.8;
    }

    .toppingsText p {
        font-size: 16px;
        line-height: 17px;
        padding: 0 15px;
    }

    .slick-slide img {
        max-width: 75%;
        margin: 0 auto;
    }

    .cravingsImg {
        position: relative;
        left: 20px;
    }

    .cravingsText h5 {
        margin-bottom: 20px;
    }

    .cravingsText p{
        margin-bottom: 15px;
    }

    .processCards .img-wrap{
        max-width: 50%;
        margin: 20px auto;
    }

    .processCards h5{
        font-size: 20px;
    }

    .cravings {
        padding: 20px 0;
    }

    .category .categoryItem img.main{
        width: 63%;
    }

    .category .slick-slide.slick-center img.main{
        width: 76%;
    }

}

@media only screen and (max-width: 400px){
    
    section{
        padding: 30px 0 !important;
    }

@keyframes fadeInPhone {
    0% {
        scale: 0;
    }

    100% {
        scale: 1.1;
    }
}
    .category .slick-slide.slick-center img.catItemBg {
        scale: 1.1;
    }
}