
@media only screen and (max-width: 1400px){
    .offerOverlay {
        left: -10%;
        top: 7%;
    }
}

@media only screen and (max-width: 992px) {

    .contactCards {
        justify-content: flex-start;
    }

    .galleryPageGrid {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(4, auto);
        gap: 5px;
        width: 100%;
    }

    .heading-white {
        background: none;
        color: #E64699;
        position: static;
    }

    .cerificationsMain .panel {
        margin-bottom: 50px;
    }

    .cerificationsMain .panel:nth-child(even) {
        flex-direction: column-reverse;

    }

    .cateringText {
        text-align: center;
    }

    .cateringText+.img-wrap {
        position: static;
    }

    .cateringForm,
    .contactForm,
    .reviewForm {
        padding: 20px 20px;
    }

    .formGrid {
        /* grid-template-columns: repeat(1, 1fr); */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .formGrid>div {
        width: 100%;
    }

    .itemsGrid {
        grid-template-columns: repeat(1, 310px);
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        grid-template-rows: auto;
        margin-bottom: 30px;
    }

    .slidingBannerText {
        text-align: center;
    }

    .offerOverlay {
        /* left: -5%;
        top: -9%; */
        left: -11%;
        top: 5%;
    }

    .aboutText {
        text-align: center;
    }

    .aboutBanner .panel .img-wrap {
        margin: 20px auto;
    }

    .aboutBanner .mainAboutimg.img-wrap {
        margin: 0 0 20px;
    }

    .innerPageHeading {
        font-size: 50px;
        margin: 0 auto;
    }

    .historyText {
        font-size: 16px;
        line-height: 22px;
    }

    section>h4 {
        font-size: 64px;
        position: relative;
        line-height: 100%;
        z-index: 2;
    }

    .heading-white::before {
        left: -23%;
    }

    .heading-white {
        z-index: -2;
        padding: 0 19px;

    }

    .category .slick-slide.slick-center img.main {
        transform: scale(1.4);
    }

    .category .slick-slide.slick-center img.catItemBg {
        animation: fadeInlaptops 2s;
        scale: 1.5;
    }

    .toppingsMain {
        text-align: center;
        padding: 33px 0;
    }

    .toppingSlider .slick-dots {
        text-align: center;
        padding: 0;
    }

    .cravingsMain .panel {
        flex-direction: row;
    }

    .cravingsText h5 {
        font-size: 25px;
        line-height: 25px;
    }

    .cravingsText p {
        font-size: 19px;
        line-height: 112%;
    }

    .cravingsImg {
        max-width: 100%;
    }

    .toppingsText h5 {
        font-size: 40px;
        line-height: 40px;
    }

    .toppingsText p {
        font-size: 18px;
        line-height: 20px
    }

    .panel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .category .slick-next {
        right: 10%;
    }

    .category .slick-prev {
        left: 6%;
    }



    .galleryGrid {
        grid-template-columns: 295px 248px 248px;
        /* grid-template-rows: 298px 298px 220px  325px; */
        grid-template-rows: auto auto auto auto;
        grid-auto-flow: dense;
        gap: 5px;
        padding: 0 5px;
    }

    footer {
        text-align: center;
    }

    .ftTimings .follow {
        justify-content: center;
        flex-wrap: wrap;
    }

    .faqText {
        text-align: center;
    }

    .cateringForm h4 span.heading-white, .contactForm h4 span.heading-white, .reviewForm h4 span.heading-white {
        position: static;
        padding: 0;
        background: none;
    }
}

@media only screen and (max-width: 767px) {

    .formGrid>div {
        margin-bottom: 25px;
    }

    .formGrid textarea {
        height: 180px;
    }

    .aboutAnimationContainer {
        gap: 40px;
    }
    .aboutcards {
        max-width: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 

    .aboutcards:before,
    .aboutcards:after {
        display: none;
    }

    .aboutCardText {
        text-align: center;
    }

    .certificationCards {
        padding: 24px 24px;
    }

    .newsInput {
        justify-content: space-between;
    }

    .newsInput button {
        font-size: 18px;
        padding: 15px 20px;
    }

    .cateringText h1 span {
        color: #E64699;
    }

    .panels p {
        font-size: 18px;
        padding: 5px;
        line-height: 23px;
    }
        
    .acc-head h5 {
        font-size: 21px;
    }
        
    .acc-head {
        padding: 0 5px;
        gap: 5px;
    }

    .locationBanner .panel {
        gap: 40px;
    }

    .locationBanner h1 {
        margin-bottom: 50px;
    }

    .formGrid label {
        font-size: 19px;
        margin-bottom: 10px;
    }

    .cateringForm h4, .contactForm h4, .reviewForm h4 {
        font-size: 38px;
        margin-bottom: 50px;
    }

    .formGrid input{
        padding: 10px 10px;
    }

    .cateringForm h4 span.heading-white, .contactForm h4 span.heading-white, .reviewForm h4 span.heading-white {
        color: #E64699;
    }


    .ft-pictures {
        margin-bottom: 40px;
    }

    .ftTimings {
        margin-bottom: 20px;
    }

    .galleryBanner .innerPageContainer .img-wrap{
        margin-bottom: 50px;
    }

    .galleryPageGrid {
        margin-bottom: 50px;
    }

    .about-overlay{
        left: -12px;
        width: 800px;
    }

    .ftAddress .panel {
        margin-bottom: 30px;
    }

    .offerOverlay {
        padding: 5px 0;
        width: 100%;
        left: -42%;
        top: 3%;
    }

    .offerOverlay span {
        font-size: 18px;
        line-height: 18px;
    }

    .innerPageHeading {
        font-size: 38px;

    }

    .toppingSlider .slick-dots {
        justify-content: center;
    }

    .cerificationsMain .panel {
        text-align: center;
    }

    .faqText+.img-wrap,
    .cateringText+.img-wrap {
        position: static;
    }

    section.history>h4 {
        margin-bottom: 30px;
    }

    section {
        padding: 30px 0 !important;
    }

    section.noPadding {
        padding: 0 !important;
    }

    .real {
        padding: 30px 0 !important;
    }

    .heading-white {
        padding: 0;
    }

    section>h4 {
        margin-bottom: 40px;
        font-size: 40px;
    }

    .real-overlay {
        top: -4px;
    }

    .category .categoryItem {
        height: 100%;
        min-height: 414px;
    }

    .category .slick-slide.slick-center img.main {
        transform: scale(1.2);
    }

    .category .slick-slide.slick-center img.catItemBg {
        animation: fadeIntab 2s;
        scale: 0.6;
    }

    /* 
    .category .slick-slide.slick-center .categoryItem img.catItemBg {
        scale: 1.4;
    } */

    .categoryBadge {
        top: 28%;
        left: 24%;
        padding: 10px 20px 11px 20px;
    }

    .categoryBadge a {
        font-size: 20px;
        line-height: 100%;
    }

    .galleryGrid {
        grid-template-columns: auto auto auto;
    }

    .mobile-nav {
        width: 80%;
        z-index: 1000;
    }

    .banner .container img {
        height: 60vh;
    }

    .realCard h5 {
        font-size: 16px;
        line-height: 100%;
    }

    .realCard h6 {

        line-height: 100%;
        font-size: 16px;
    }

    .realCard {
        align-items: center;
    }


    .cravingsMain .panel {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .cravingsImg {
        max-width: 50%;
        height: auto;
    }

    footer {
        padding: 50px 0 0;
    }

    .container,
    .container-fluid {
        padding: 0 10px;
    }

}

@media only screen and (max-width: 480px) {

    .ourToppings .shopNowButton, 
    .ourFlavors .shopNowButton {
        left: -6%;
    }

    .ourToppings .shopCards h5 {
        transform: translateX(-50%) translateY(-39px);
    } 

    /* .ourToppings .shopCards .img-wrap{
        min-height: auto;
    } */

    .menuTabsPanels .shopCards:hover h5 {
        transform: translateX(-70%) rotate(-3deg) translateY(-17px) scale(0.9);
    }

    .menuTabsHead {
        flex-direction: column;
    }

    .menuTabsHead button {
        font-size: 20px;
        padding: 20px 20px;
        border-radius: 10px;
    }


    .slidingBannerText h1 {
        font-size: 50px;
    }

    .slidingBannerText p {
        font-size: 18px;
        line-height: 22px;
    }

    section.slidingBanner {
        padding: 60px 0 !important;
    }

    .offerOverlay {
        padding: 5px 0;
        width: 100%;
        left: -32%;
        top: 3%;
    }


    .low-opacity::before,
    .low-opacity::after {
        display: none;
    }

    .newsInput input {
        padding: 22px 0 21px 20px;
        font-size: 14px;
    }

    .category .slick-slide.slick-center img.main {
        transform: scale(1.06);
    }

    .category .slick-slide.slick-center img.catItemBg {
        animation: fadeInPhone 2s;
        scale: 1;
    }

    .real {
        padding: 20px 0;
    }


    section>h4 {
        font-size: 30px;
        margin-bottom: 40px !important;
    }

    section.history>h4 {
        margin-bottom: 40px;
    }

    .category .slider {
        margin-bottom: 0;
    }

    .shopCards {
        padding: 25px 35px 28px;
        height: auto;
    }

    .shopCards:hover {
        height: 385px;
    }

    .shopCards:hover h5 {
        transform: translateX(-70%) rotate(-3deg) translateY(17px) scale(0.9);
    }

    .shopCards h5 {
        font-size: 19px;
    }

    .shopCards .img-wrap {
        scale: 1;
        min-height: 265px;
    }

    .shopNowButton {
        scale: 0.8;
        left: -6.5%;
    }

    .addButton {
        scale: 0.8;
    }

    .toppingsText p {
        font-size: 16px;
        line-height: 17px;
        padding: 0 15px;
    }


    .slick-slide img.sliderMainImg {
        max-width: 75%;
        margin: 0 auto;
    }

    img.popOutImg {
        bottom: 0;
    }

    .cravingsImg {
        position: relative;
        left: 20px;
    }

    .cravingsText h5 {
        margin-bottom: 20px;
    }

    .cravingsText p {
        margin-bottom: 15px;
    }

    .processCards .img-wrap {
        max-width: 50%;
        margin: 20px auto;
    }

    .processCards h5 {
        font-size: 20px;
    }

    .cravings {
        padding: 20px 0;
    }

    .category .categoryItem img.main {
        width: 63%;
    }

    .category .slick-slide.slick-center img.main {
        width: 76%;
    }

}

@media only screen and (max-width: 400px) {

    section {
        padding: 30px 0 !important;
    }

    @keyframes fadeInPhone {
        0% {
            scale: 0;
        }

        100% {
            scale: 1.1;
        }
    }

    .category .slick-slide.slick-center img.catItemBg {
        scale: 1.1;
    }
}