* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #FAF7F2;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #E64699;
}

ol,
ul {
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: #e161a4;
  /* height: 5px;  */
  border-radius: 5px;
}


.flex {
  display: flex;
}

.gap-5 {
  gap: 5px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.align-items-center {
  align-items: center;
}

.justify-content-space {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.panel {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 15px 33px 16.91px;
  background: #E64699;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FAF7F2;
  display: inline-flex;
  align-items: center;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}


.btn-inverse {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  background: #FAF7F2;
  border-radius: 10px;
}

.btn:hover {
  background: #E64699;
  color: #fff;
  transform: scale(1.08);
}

/* utilities */



.hideShowImgContainer {
  position: relative;
}


.low-opacity {
  position: relative;
}

.low-opacity::after,
.low-opacity::before {
  content: "";
  height: 100%;
  width: 20%;
  position: absolute;
  background-color: #fff;
  top: 0;
  bottom: 0;
  z-index: 3;
  opacity: .4;
  pointer-events: none;
  user-select: none;
}

.low-opacity::before {
  left: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 42%, transparent 96%);

}

.low-opacity::after {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 42%, transparent 96%);
  right: 0;
}

section>h4,
.mainHeading {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 88px;
  text-align: center;
  color: #000000;
  margin-bottom: 90px;
}

.heading-white {
  position: relative;
  left: -40px;
  color: #fff;
  z-index: -2;
  /* height: 200px; */
  padding: 0 49px;
  background: url(../images/heading-after.png) no-repeat;
  background-size: 100% 100%;
}

.cateringForm h4 span.heading-white,
.contactForm h4 span.heading-white,
.reviewForm h4 span.heading-white {
  position: relative;
  left: -40px;
  color: #fff;
  z-index: 3;
  /* height: 200px; */
  padding: 0 49px;
  background: url(../images/heading-after.png) no-repeat;
  background-size: 100% 100%;
}



/* .heading-white::before {
  content: url('../images/white-heading-img.svg');
  position: absolute;
  width: 100%;
  height: 100%;
  left: -12%;
  right: 0;
  z-index: -1;
} */

section {
  padding: 75px 0;
}

section.firstSection {
  padding-top: 150px;
}

section.lastSection {
  padding-bottom: 150px;
}

/* header start */

header {
  background-color: #FAF7F2;
  padding: 15px 0;
  position: relative;
  z-index: 2;
}

header .container {
  max-width: 1527px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBtn .btn img {
  margin-right: 10px;
}

.openMenu {
  position: relative;
}

.menuList {
  /* display: block; */
  background: #FAF7F2;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 184px;
  width: 184px;
  position: absolute;
  top: 35px;
  padding: 18px 11px 17px;
}

.menuList li {
  display: inline-block;
  padding: 9px 0 !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  line-height: 22px;
  text-align: center;
  color: #000000;
  border-bottom: .8px solid rgba(230, 70, 153, 0.2);
}

.menuList li:last-child {
  border: none;
}

.menuList li img {
  margin-right: 17px;
}

.navList li {
  display: inline-flex;
  align-items: center;
  padding: 0 17.5px;
}

.navList li {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.navList li a {
  transition: all .2s ease-in-out;
}

.navList li ion-icon {
  margin-left: 6px;
  margin-top: 4px;
}

.navList li:hover {
  color: #E64699;
}

.navList li a:hover {
  color: #E64699;
  text-decoration: none;
}

.navList li.active a {
  color: #E64699;

}

.menuList {
  display: none;
}

.arr-up {
  display: none;
}

.mobile-nav {
  display: none;
}

.burger-menu {
  /* justify-self: flex-end; */
  position: absolute;
  right: 10.5%;
  display: none;
  cursor: pointer;
}

.burger-menu>div {
  width: 37px;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 8px;
  background-color: #E64699;
}

.mobileLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cross {
  outline: none;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  rotate: 45deg;
}

.mobileNavList {
  list-style-type: none;
}

.mobileNavList li {
  font-style: normal;
  font-weight: 600;
  padding: 15px 5px;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-bottom: 1px solid #E64699;
}

.mobileNavList li a {
  color: #000 !important;
}

.mobileNavList li:last-child {
  border: none;
}

.mobileNavList li a ion-icon {
  margin-right: 8px;
}

.menuListPhone {
  position: static;
  box-shadow: none;
  border-radius: 5px;
  max-width: 100%;
  background: transparent;
  width: 100%;
}

.menuListPhone li {
  text-align: left;
  /* padding-left: 15px !important; */
  padding: 15px !important;
}

.openMenuPhone {
  display: flex;
  justify-content: space-between;
}

.openMenuPhone ion-icon {
  position: relative;
  top: 4px;
  display: inline-block;
}


@media only screen and (max-width: 992px) {
  body {
    position: relative;
    width: 100%;
  }

  .topNav {
    padding: 28px 40px;
  }

  nav {
    display: none;
  }

  .bottomNav {
    position: static;
  }

  .headerBtn {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .mobile-nav {
    /* display: block; */
    position: fixed;
    z-index: 21;
    top: 0;
    width: 100%;
    max-width: 80%;
    background-color: #fff;
    height: 100%;
    z-index: 1;
    padding: 40px 30px;
    left: 0;
  }

}

@media only screen and (max-width: 768px) {
  .mobile-nav {
    width: 100%;
  }

  .mobile-nav {
    max-width: 100%;
  }

  .mobileNavList li {
    font-size: 14px;
    /* width: ; */
  }

  .headSocialIcons {
    gap: 10px;
  }

  .bankDetails a {
    font-size: 12px;
  }

}

/* header end */

/* banner */

.banner {
  padding: 0;
}

.banner .container {
  max-width: 1920px;
  padding: 0;
}

.banner img {
  width: 100%;
}

/* banner End */

/* Real Section */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes fadeInDesktop {
  0% {
    scale: 0;
  }

  100% {
    scale: 1.3;
  }
}

@keyframes fadeInlaptops {
  0% {
    scale: 0;
  }

  100% {
    scale: 1.5;
  }
}

@keyframes fadeIntab {
  0% {
    scale: 0;
  }

  100% {
    scale: .6;
  }
}

@keyframes fadeInPhone {
  0% {
    scale: 0;
  }

  100% {
    scale: 1.0;
  }
}

@keyframes upDownAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(3%);
  }

}

@keyframes rightLeft {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(3px, 3px) rotate(1deg);
  }

  50% {
    transform: translate(0, 0) rotate(0eg);
  }

  75% {
    transform: translate(-3px, 3px) rotate(-1deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}



/* @keyframes rightLeft {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  10% {
    transform: translateY(-3px) rotate(-1deg);
  }
  20% {
    transform: translateY(3px) rotate(1deg);
  }
  30% {
    transform: translateY(0) rotate(0deg);
  }
  40% {
    transform: translateY(-3px) rotate(-1deg);
  }
  50% {
    transform: translateY(3px) rotate(1deg);
  }
  60% {
    transform: translateY(0) rotate(0deg);
  }
  70% {
    transform: translateY(-3px) rotate(-1deg);
  }
  80% {
    transform: translateY(3px) rotate(1deg);
  }
  90% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-3px) rotate(-1deg);
  }
} */




.animateUpdown {
  animation: upDownAnimation 1.5s linear infinite;
}

/* .animateUpdown:hover {
  animation-play-state: paused;
} */

/* utilities classes just add these */

.hr-animation-container {
  display: inline-flex;
  width: max-content;
  overflow-x: hidden;
  white-space: nowrap;
}

/* 
.hr-animation-container:hover > *{
    animation-play-state: paused;
} */

.hr-animation-container>* {
  animation: 11s slide infinite linear;
}

.homeBody .gallery {
  padding-top: 0;
}

.real {
  padding: 30px 0;
  background-color: #111111;
  position: relative;
  /* border-top: 20px #111111;
    border-style: double; */
}

.real-overlay {
  position: absolute;
  top: -10px;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  width: 100%;

}

.realAnimationDiv {
  gap: 40px;
}

.realCard {
  display: flex;
  gap: 15px;
}

.realCard h5 {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.realCard h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: .065em;
  color: #FFFFFF;
}

/* reaL end */

/* category Start */

.category .container {
  max-width: 1364px;
}

.category .slider {
  margin-bottom: 40px;
}

.category .categoryItem {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* cursor: pointer; */
}

.categoryBadge {
  opacity: 0;
  cursor: pointer;
  background: #E64699;
  border-radius: 25px 25px 0 25px;
  position: absolute;
  top: 35%;
  left: -6%;
  z-index: 10;
  padding: 10px 35px 11px;
  transition: all .5s ease-in-out;
}

.categoryBadge a {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  color: #FFFFFF;
  text-decoration: none;
}

.category .slick-slide.slick-center .categoryItem:hover .categoryBadge {
  opacity: 1;
}

.category .categoryItem img.main {
  max-width: 200px;
  width: 100%;
  height: 300px;
  transition: all 1s;
  margin: 0 auto;
}

.category .slick-slide.slick-center img.main {
  transform: scale(1.7);
}

.category .categoryItem img.catItemBg {
  position: absolute;
  max-width: 100%;
  visibility: hidden;
}

.category .slick-slide.slick-center img.catItemBg {
  visibility: initial;
  animation: fadeInDesktop 1s;
  scale: 1.3;
}

.category .slick-slide {
  opacity: .5;
}

.category .slick-slide.slick-center {
  opacity: 1;
  cursor: pointer;
}

.category .slick-arrow {
  z-index: 20;
}

.category .slick-arrow::before {
  display: none;
}

.category .slick-prev::after {
  content: url('../images/arrow-left.png');
}

.category .slick-next::after {
  content: url('../images/arrow-right.png');
}

.category .slick-prev {
  left: 15%;
}

.category .slick-next {
  right: 16%;
}

/* category End */

/* shops start */

.scrollActive {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px !important;
  width: 100%;
  min-height: 460px;
}

/* width */
.scrollActive::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollActive::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */

.scrollActive::-webkit-scrollbar-thumb {
  background: #4284C5;
  height: 5px;
  border-radius: 5px;
}


.shop .hr-animation-container {
  min-height: 510px;
}

.shopCardContainer {
  gap: 55px;
  display: inline-flex;
  align-items: center;
}

.shop .hr-animation-container>* {
  animation-duration: 7s;
}



.shop .hr-animation-container:hover>* {
  animation-play-state: paused;
}

.rotate {
  scroll-snap-align: center;
}

.shopCards .img-wrap {
  margin-bottom: 10px;
}

.shopCards h5 {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;
  width: max-content;
  position: relative;
  left: 50%;
  transition: transform .4s ease-in-out;
  transform: translateX(-50%);
}

.addButton {
  position: absolute;
  bottom: -3%;
  right: -6%;
  /* background-color: #E64699; */
  background: none;
  outline: none;
  border: none;
  rotate: -3deg;
  transition: opacity .2s ease-in;
  opacity: 0;
}

.shopNowButton {
  position: absolute;
  left: .5%;
  bottom: -3%;
  padding: 22px 26px;
  background: #E64699;
  rotate: -3deg;
  border-radius: 35px;
  z-index: -1;
  transition: opacity .2s ease-in;
  border-top-left-radius: 0;
  opacity: 0;
}

.shopCards a {
  padding: 7px 42px;
  background: #FDEDF5;
  border-radius: 20px;
}

.shopCards {
  position: relative;
  z-index: 1;
  padding: 25px 40px 28px;
  background: #4284C5;
  border-radius: 35px;
  transition: all .5s;
  cursor: pointer;
  height: 392px;
  transition: transform .4s ease, height .4s ease-in-out, background-color .2s ease-in-out;
}

.rotate:hover .shopCards {
  transform: rotate(-3deg);
  background-color: #E64699;
}

.shopCards:hover h5 {
  transform: translateX(-62%) rotate(-3deg);
}

.shopCards:hover .shopNowButton {
  opacity: 1;
}

.shopCards:hover .addButton {
  opacity: 1;
}

.shopCards:hover {
  height: 420px;
}

.shopCards .img-wrap img {
  transition: transform .4s ease-in-out;

}

.hoverPopUpImage {
  position: absolute;
  z-index: -1;
  height: 100%;
  transform: scale(0);
  width: 100%;
  bottom: 12%;
  left: -4%;
  /* transition: height 0.5S ease-in; */
  transition: transform .6s cubic-bezier(.24, 0, 0, 1);
  /* transition-delay: 0.5S; */
}

.shopCards:hover .hoverPopUpImage {
  /* height: 100%; */
  transform: scale(1);
}

.shopCards:hover .img-wrap img {
  transform: scale(1.08) translateY(-14%);
}

button:focus {
  border: none;
  outline: none;
}

/* shopping end */

/* toppings start */

.toppings {
  padding-bottom: 150px;
}

.toppingsMain {
  max-width: 1080px;
  width: 100%;
  padding: 17px 28px 47px 57px;
  background: #4284C5;
  border-radius: 35px;
}

.toppingsText {
  max-width: 480px;
  width: 100%;
  align-self: center;
}

.toppingsText h5 {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 55px;
  /* text-align: center; */
  color: #FFFFFF;
  margin-bottom: 25px;
}

.toppingsText p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.toppingSlider .slick-dots {
  position: relative;
  text-align: right;
  padding-right: 176px;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 
.toppingSlider .slick-dots li {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  height: 7px;
  width: 7px;
  border-radius: 100%;
}

.toppingSlider .slick-dots li {
  width: 4.6px;
}

.toppingSlider .slick-dots li.slick-active button:before {
  color: #fff;
} */
@keyframes countdown {
  from {
    stroke-dashoffset: 113px;
  }

  to {
    stroke-dashoffset: 0;
  }
}

/* .toppingSlider .slick-dots li {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  height: 7px;
  width: 7px;
  border-radius: 100%;
} */

.slick-dots li {
  height: 9px;
  width: 9px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100%;
}

.slick-dots li.slick-active {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  height: 40px;
  width: 40px;
  background: none;
  text-align: center;
  transform: scaleX(-1) scale(0.7);
  margin: 0;
}

.slick-dots li::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.slick-dots li.slick-active::before {
  display: block;
}

.slick-dots li.slick-active {
  color: #fff;
  background: none;
}

.slick-dots li.slick-active::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -7px;
  margin-top: -7px;
}

.dotSvgSpan svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);

}

li.slick-active .dotSvgSpan svg circle {
  animation-play-state: running;
  stroke-width: 3px;
  animation: countdown 6s linear forwards;
}

.dotSvgSpan svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 0;
  stroke: #fff;
  fill: none;
  animation: none;
  animation-play-state: paused;
  animation-fill-mode: none;
}

/* toppings End */

/* cravings Start */

.cravings {
  padding: 0;
  position: relative;
  background: #4284C5;
}

.cravings .container {
  max-width: 1271px;
}

.cravingsText {
  width: 100%;
  max-width: 723px;
  align-self: center;
}

.cravingsText h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.cravingsText p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */

  letter-spacing: .05em;

  color: #FFFFFF;
  margin-bottom: 30px;
}

.cravingsImg {
  position: relative;
  bottom: 30px;
}

/* process */

.process {
  padding-top: 150px;
  padding-bottom: 150px;
}

.process .container {
  max-width: 1270px;
}

.processCards {
  max-width: 250px;
  width: 100%;
}

.processCards .img-wrap {
  margin-bottom: 30px;
}

.processCards h5 {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 39px;
  /* identical to box height, or 39px */
  text-align: center;
  color: #000000;
}

/* process End */

/* gallery Start */

.gallery {
  padding-top: 150px;
  padding-bottom: 150px;
}

.gallery .container {
  max-width: 1191px;
  padding: 0;
}

.galleryGrid {
  display: grid;
  grid-template-columns: 295px 248px 248px 325px;
  grid-template-rows: 298px 298px 220px;
  row-gap: 18px;
  column-gap: 18px;
}

.galleryGrid img {
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.galleryGrid .img-wrap:nth-of-type(1) {
  grid-row: span 2;
}

.galleryGrid .img-wrap:nth-of-type(5) {
  grid-column: span 2;
}

.galleryGrid .img-wrap:nth-of-type(6) {
  grid-row: span 2;
}

.galleryGrid .img-wrap:nth-of-type(7) {
  grid-column: span 3;
}

/* gallery End */

/* about Start */

.about {
  background-color: #4284C5;
  padding: 70px 0;
  position: relative;
}

.about .heading-white {
  z-index: 2;
}

.about .container-fluid {
  padding: 0;
}

section.about>h4 {
  color: #fff;
}

.aboutAnimationContainer {
  gap: 78px;
  margin-bottom: 50px;
}

.aboutAnimationContainer>* {
  animation-direction: reverse;
  animation-duration: 30s;
}

.aboutAnimationContainer:nth-of-type(2) {
  position: relative;
  left: -20%;
}

/* .aboutAnimationContainer:nth-of-type(2) > *{
    animation-duration: 15s;
} */
.aboutAnimationContainer .aboutcards:nth-child(even):before {
  content: url("../images/aboutCardimg2.png");
  position: absolute;
  left: -13%;
}

.aboutAnimationContainer .aboutcards:nth-child(odd):before {
  content: url("../images/aboutCardimg1.png");
  position: absolute;
  left: -13%;
}

.aboutcards {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  max-width: 483px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 13px;
  padding: 14px 21px 14px 15px;
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.aboutcards:hover {
  background-color: #E64699;
}

.aboutcards:hover .aboutCardText p {
  color: #fff;
}

.aboutcards:hover .aboutCardText h6 {
  color: #fff;
}

.aboutcards .img-wrap {
  max-width: 155px;
  width: 100%;
}

.aboutCardText {
  max-width: 279px;
  width: 100%;
  white-space: normal;
}

.aboutCardText img {
  margin-bottom: 10px;
}

.aboutCardText p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.aboutCardText h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: -18px;
  max-width: 1920px;
  width: 100%;
  z-index: -2;
}

.about-overlay:nth-of-type(2) {
  top: unset;
  bottom: -12px;
}

/* about End */

/* footer Start */

footer {
  padding: 160px 0 0;
}

footer .container {
  max-width: 1261px;
}

.topFooter {
  margin-bottom: 52px;
}

.ftAbout {
  max-width: 399px;
  width: 100%;
}

.ftLogo {
  margin-bottom: 25px;
}

.ftAbout p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .05em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

.ftTimings p {
  margin-bottom: 25px;
  color: #E64699;
}

.ftTimings p strong {
  color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.ftTimings .follow {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.ftTimings .follow strong {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;

}

.ftLinks {
  max-width: 552px;
  width: 100%;
}

.ftLinks .panel {
  margin-bottom: 40px;
}

.ftLinks h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 30px;
}

.ftLinks ul li {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.newsInput {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #E64699;
  border-radius: 13px 13px 13px 13px;
}

.newsInput input {
  padding: 22px 0 21px 30px;
  width: 71%;
  outline: none;
  border: none;
  border-radius: inherit;

}

.newsInput button {
  outline: none;
  border: none;
  padding: 20px 36px;
  background-color: #E64699;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  background: #E64699;
  border-radius: 0 10px 10px 0;
}

.ftAddress .panel {
  flex-wrap: wrap;
  row-gap: 40px;
  margin-bottom: 100px;
}

.address {
  max-width: 385px;
  width: 100%;
}

.address h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 15px;
}

.address h5 span {
  color: #E64699;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #E64699;
}

.address p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.8);
}

.ft-pictures {
  max-width: 1105px;
  width: 100%;
  margin: 0 auto 100px;
}

.bottomFooter {
  text-align: center;
  padding: 28px 0 19px;
  background: #4284C5;
}

.bottomFooter p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 0;
}

/* Home end */

/* about start */

/* about banner */
.innerPageContainer {
  max-width: 1590px;
  margin: 0 0 0 auto;
  padding: 0;
}

.aboutBanner .mainAboutimg.img-wrap {
  margin-bottom: 114px;
}

.innerPageHeading {
  width: max-content;
  background-color: #E64699;
  padding: 0 12px 12px;
  font-style: normal;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 100px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;

}

.aboutBanner .panel .img-wrap {
  position: relative;
  top: -40px;
  margin-right: 286px;
}

.aboutText {
  max-width: 661px;
  margin-bottom: 30px;
}

.aboutText p {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */


  color: rgba(0, 0, 0, 0.8);

}

.aboutText p:nth-of-type(3) {
  margin-bottom: 30px;
}

/* history */

section.history>h4 {
  margin-bottom: 70px;
}

.historyText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);

}

/* history end */

/* unique start */

.unique .container {
  max-width: 1300px;
  padding: 0;
}

.uniqueCards {
  padding: 29px 20px 34px;
  max-width: 310px;
  width: 100%;
  text-align: center;
  background: #4284C5;
  border-radius: 35px;
  cursor: pointer;
  transition: transform .5s ease-in-out;
}

.uniqueCards:hover {
  transform: scale(1.07);
  transform: translateY(-2%);
  /* background: #E64699; */
}

.uniqueCards .img-wrap {
  margin-bottom: 11px;
}

.uniqueCards h5 {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.uniqueCards p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

/* unique end */

/* teams */
.team {
  padding-bottom: 150px;
}

.team.low-opacity::after,
.team.low-opacity::before {
  height: 80%;
}

.team .hr-animation-container {
  gap: 55px;
  height: 450px;
  display: inline-flex;
  align-items: center;

}

.teamCards {
  background: #FAF7F2;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  border-radius: 35px;
  max-width: 305px;
  width: 100%;
  cursor: pointer;
  transition: transform .5s ease-in-out;
}

.teamCardWrapper:hover .teamCards {
  transform: translateY(-1%) scale(1.01);
}

.teamCards:hover .img-wrap {
  background-color: #E64699;
}

.teamCards .img-wrap {
  padding: 12px 69px 0 70px;
  background: #4284C5;
  border-radius: 35px 35px 0 0;
  transition: background-color .3s ease-in-out;
}

.teamCardText {
  padding: 16px 27px 25px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teamCardText h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
}

.teamCardText h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #000000;

}

/* about page end */

/* menuPages start */
@keyframes popOut {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.slidingBanner {
  padding: 80px 0 110px;
  background-color: #E64699;
  position: relative;
  z-index: 1;
}

.slidingBanner + .real .real-overlay {
  z-index: 2;
}

.offerOverlay {
  position: absolute;
  left: -5%;
  top: 10%;
  background-color: #4284C5;
  transform: rotate(-40.68deg);
  padding: 18px 0;
  width: 450px;
  text-align: center;
  z-index: 2;
}

.offerOverlay span {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 39px;
  text-align: center;
  color: #FFFFFF;
}

.slidingBanner .container {
  max-width: 1273px;
  padding: 0;
  position: relative;
}

.slidingBanner .panel {
  align-items: center;
}

.slidingBannerText {
  max-width: 641px;
  width: 100%;
  margin-bottom: 20px;
}

.slidingBannerText h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 62%;
  color: #FAF7F2;
  margin-bottom: 21px;
}

.slidingBannerText h1 small {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  color: #FAF7F2;
}

.slidingBannerText p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(250, 247, 242, 0.8);
  margin-bottom: 30px;
}

.slidingBannerText h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 30px;
  color: #FAF7F2;
  margin-bottom: 30px;
}

.slidingBannerimg {
  max-width: 532px;
  width: 100%;
  position: relative;
  padding: 20px 0;
}

.bannerSlider {
  position: relative;
}

.bannerSlider .item img.popOutImg {
  visibility: hidden;
}

.bannerSlider .item.slick-active img.popOutImg {
  animation: popOut 2s;
  visibility: visible;
}

img.sliderMainImg {
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
}



img.sliderMainImg {
  left: -5px;

  animation: rightLeft 1s linear infinite;
  animation-delay: 2s;
}

img.popOutImg {
  position: absolute;
  bottom: -10%;
  z-index: -1;
}

.slick-arrows.slidingBannerArrows {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* margin: 0 auto; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.slidingBannerArrows img {
  height: 55px;
  width: 55px;
}

.slick-arrows.slidingBannerArrows .slick-next,
.slick-arrows.slidingBannerArrows .slick-prev {
  position: static;
  width: auto;
  height: auto;
  display: block;
  opacity: 1;
}

.slick-arrows.slidingBannerArrows .slick-next:focus {
  opacity: .5;
}

.slick-arrows.slidingBannerArrows .slick-prev:focus {
  opacity: .5;
}

.slick-next:before,
.slick-prev:before {
  display: none;
}

/* ourMenu */

section.ourMenu>h4 {
  margin-bottom: 100px;
}

.reviewsBanner,
.galleryBanner,
.innerMenuSection,
.ourMenu {
  padding-bottom: 150px;
}

.menuBody .process{
  padding-bottom: 0;
}


.ourMenu .container {
  max-width: 1300px;
}

.menuTabsHead button {
  /* padding: 15px 33px 16.91px; */
  padding: 25px 35px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  outline: none;
  color: #111111;

}

.menuTabsHead button:hover {
  background-color: #e161a4;
  color: #fff;
}

.menuTabsHead button.active {
  background: #E64699;
  color: #FAF7F2;

}

.menuTabsPanels .panel {
  gap: 20px;
  align-items: center;
  min-height: 450px;
  width: max-content;
  margin: 90px auto;

}

.menuTabsPanels .shopCards {
  max-width: 310px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.menuTabsPanels .shopCards .img-wrap img {
  display: block;
  margin: 0 auto;
}

/* .menuTabsPanels .shopCards:hover h5{ */
/* top: 29px; */
/* } */

.menuTabsPanels .hoverPopUpImage {
  bottom: 19%;
  left: 4px;
}

.menuTabsPanels .shopCards:hover .hoverPopUpImage {
  transform: scale(0.9);
}

.menuTabsPanels .shopCards .img-wrap {
  margin-bottom: 30px;
}

.menuTabsHead {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 100px;
}

.tabs {
  display: none;
}

.ourMenu .container {
  padding: 0;
  max-width: 1400px;
  text-align: center;
}

/* our menu end */

/* our flavors */

.innerMenuSection .container {
  max-width: 1300px;
  padding: 0;
}

.innerMenuSection ~ .process {
  padding-bottom: 0 ;
}

.itemsGrid {
  display: grid;
  column-gap: 25px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, 450PX);
  margin-bottom: 90px;
}

.menuTabsPanels {
  text-align: center;
}

/* flavors */

.ourToppings .shopCards {
  height: 333px;
  padding: 33px 22px 42px 21px;
}

.ourToppings .shopCards .img-wrap {
  margin-bottom: 20px;
}

.ourToppings .shopCards .img-wrap img {
  width: 100%;
  max-width: 267px;
  min-height: 205px;
}

.ourToppings .itemsGrid {
  gap: 25px;
  grid-template-rows: auto;
  margin-bottom: 90px;
}

/* about Page */

.galleryBanner .innerPageContainer .img-wrap {
  margin-bottom: 150px;
}

.gallaryPageGallery .container {
  max-width: 1427px;
}

.galleryPageGrid {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-template-rows: repeat(4, 210px);
  gap: 15px;
  grid-auto-flow: dense;
  margin: 0 auto;
  margin-bottom: 90px;
  /* max-width: 1270px;
  width: 100%; */
  width: max-content;
}

.galleryPageGrid img {
  width: 100%;
  height: 100%;
}

/* 
img{
  transition: transform 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.02);
} */

.row-span-2 img {
  max-width: 530px;
  /* height: 484px; */
}

.row-span-2 {
  grid-row: span 2;
}

.col-span-2 {
  grid-column: span 2;
}

/* reviews page */

.reviews {
  padding-top: 150px;
  padding-bottom: 0;
}

.reviews h4 {
  width: 100%;
}

.reviews .container {
  max-width: 1265px;
}

.cateringForm,
.contactForm,
.reviewForm {
  padding: 79px 82px 72px 124px;
  max-width: 1256px;
  width: 100%;

  background: #EFEEEE;
  border-radius: 10px;
}

.cateringForm h4,
.contactForm h4,
.reviewForm h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 110%;
  /* identical to box height, or 66px */

  text-align: center;

  color: #000000;
  margin-bottom: 115px;

}

.reviewForm h4 span {
  color: #fff;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.formGrid>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: flex-start;
}

.formGrid label {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 110%;
  /* or 24px */

  text-align: center;

  color: #000000;
  margin-bottom: 20px;

}

.formGrid input,
.formGrid select {
  width: 100%;
  max-width: 100%;
  /* min-height: 70px; */
  padding: 20px;
  background: #F3F3F3;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;

}

/* 
input:focus,
label:focus {
  outline: #E64699;
  border: #E64699;
} */

.formGrid textarea {
  padding: 20px;
  max-height: 226px;
  width: 100%;
  background: #F3F3F3;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  grid-column: span 2;
}

.starIcons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.starIcons svg {
  cursor: pointer;
}

.starIcons:hover svg {
  fill: gold;
}

.starIcons svg:hover~svg {
  fill: none;
}


/* .starIcons svg:hover path{
  fill: gold;
  stroke: none;
}

.starIcons svg:hover ~ svg path{
  stroke: none;
  fill: gold;
}  */

/* location */

.maps {
  padding-bottom: 0;
}

.locationBanner .container {
  max-width: 1256px;
  margin: 0 auto;
}

.addressCards {
  background: #edebe6;
  border-radius: 15px;
  width: 100%;
  max-width: 396px;
  position: relative;
  padding: 47px 13px 16px;
  max-height: 194px;
  height: 100%;
  cursor: pointer;

}

.addressCards>img {
  position: absolute;
  left: 0;
  top: -20px;
}

.locationBanner a:nth-of-type(3) .addressCards h6 {
  margin-bottom: 0;
}

.addressCards h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 15px;
}

.addressCards p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.8);

}

.locationBanner h1 {
  margin-bottom: 154px;
}

.maps iframe {
  max-width: 100%;
  width: 100%;
  min-height: 726px;
  display: none;
}

.maps iframe p {
  text-align: center;
}

.col-span-2 input {
  width: 100%;
  max-width: 100%;
}

/* cateringp page */

.cateringBanner {
  padding-top: 70px;
  padding-bottom: 0;
}

.noPlaceholder::-webkit-input-placeholder {
  visibility: hidden;
}

.cateringBanner .img-wrap {
  margin-bottom: 50px;
}

.faqText,
.cateringText {
  max-width: 661px;
  width: 100%;

}

.cateringBanner .panel {
  max-width: 1360px;
  width: 100%;
}

.cateringText h1,
.faqText h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 20px;
}

.cateringText p,
.faqText p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  color: rgba(0, 0, 0, 0.8);
}

.faqText+.img-wrap,
.cateringText+.img-wrap {
  position: relative;
  bottom: 200px;
  margin: 0;
}

.padding-0 {
  padding: 0 !important;
}

/* faqs */

.faq {
  padding-top: 0;
}

#faqs + .process {
  padding-top: 75px;
}

.faqsBody {
  background-color: #FAF7F2;
}

.acc-container:nth-of-type(1) {
  border-top: none;
  padding-top: 0;
}

.acc-container {
  padding: 43px 0 22px;
  /* border-top: 1px solid #353535; */
  border-bottom: 2px solid #000000;
}

.acc-head {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.acc-head h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  /* identical to box height, or 33px */

  /* text-align: center; */

  color: #000000;
  margin-bottom: 15px;

}

.panels p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  /* or 24px */

  color: #000000;

}

.icon-up {
  display: none;
}

/* certifications */

.certificationsBody .process {
  padding-bottom: 195px;
}

.certificationsBody .gallery {
  padding-top: 150px;
}

.cerificationsMain {
  padding-bottom: 0;
  padding-top: 150px;
}

.cerificationsMain .container {
  max-width: 986px;
}

.cerificationsMain .panel {
  align-items: center;
  margin-bottom: 100px;
}

.cerificationsMain .panel:nth-of-type(4) {
  margin-bottom: 0;
}

.certificationCards {
  padding: 65px 32px 62px 32px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  max-width: 586px;
  width: 100%;
}

.certificationCards h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.certificationCards p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.8);
}

/* certification End */

/* contact Page */

.contact {
  padding-bottom: 195px;
}

.contactInfo .container {
  max-width: 1226px;
  width: 100%;
}

.contactCards {
  display: flex;
  justify-content: center;
  gap: 19px;
  max-width: 407px;
  width: 100%;
}

.contactCards .img-wrap img {
  width: 60px;
  height: 60px;
  max-width: 60px;
}

.contactCards h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  /* text-align: center;   */
  color: #000000;

}

.contactCards p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */


  color: rgba(0, 0, 0, 0.8);

}